.posicao-favor-contra {
    margin-bottom: 1rem;
}

.escolha-subtitulo {
    margin-bottom: 10px;
}

.buttons-posicao {
    margin-left: 10px;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}
    
