# Firebase files
.firebase/
firebase-debug.log
firebase-secrets.json # Se existir algum arquivo de segredos

# Node modules para a pasta 'functions'
functions/node_modules/ # ESSENCIAL

# Node modules para a pasta 'server' (se você tiver um servidor Node.js separado)
server/node_modules/ # ESSENCIAL

# Environment variables
.env # ESSENCIAL: Impede que qualquer arquivo .env seja enviado
.runtimeconfig.json # Informações de config do Firebase Functions

# IDE-specific files
.vscode/ # Se você usa VS Code, pode ignorar pasta de configurações
.DS_Store # Mac
npm-debug.log*
yarn-debug.log*
yarn-error.log*